<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRM - Distribuciones Chiapero</title>
    <link rel="shortcut icon" href="WhatsApp Image 2021-10-02 at 7.51.49 AM - copia.jpeg" type="image/x-icon">
    <link rel="shortcut icon" href="https://seeklogo.com/images/C/CMR-logo-1004623E96-seeklogo.com.gif"
        type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <form action="/nuevoCliente" method="POST">
            <div class="mb-3">
                <label for="">Fecha</label><input type="date" name="fecha" class="form-control">
            </div>
            <div class="mb-3">
                <label for="">Nombre</label><input type="text" name="nombre" class="form-control">
            </div>
            <div class="mb-3">
                <label for="">Apellidos</label><input type="text" name="apellidos" class="form-control">
            </div>
            <div class="mb-3">
                <label for="">E-mail</label><input type="email" name="email" class="form-control">
            </div>
            <div class="mb-3">
                <label for="">Telefono</label><input type="number" name="telefono" class="form-control">
            </div>
            <div class="mb-3">
                <label for="">País</label><input type="text" name="pais" class="form-control">
            </div>
            <div class="mb-3">
                <label for="">Ciudad</label><input type="text" name="ciudad" class="form-control">
            </div>
            <div class="mb-3">
                <label for="">Dirección</label><input type="text" name="direccion" class="form-control">
            </div>
            <div class="mb-3">
                <label for="">Instagram</label><input type="text" name="instagram" class="form-control">
                <label for="">Facebook</label><input type="text" name="facebook" class="form-control">
                <label for="">Linkedin</label><input type="text" name="linkedin" class="form-control">
                <label for="">Twitter</label><input type="text" name="twitter" class="form-control">
            </div>
            <div class="mb-3">
                <label for="estado">Estado</label>
                <select name="estado" id="">
                    <option disabled="estado">Selecionar una Opcion</option>
                    <option value="interesado">Interesado</option>
                    <option value="Presupuesto enviado"> Presupuesto enviado</option>
                    <option value="Cliente">Cliente</option>
                    <option value="Cliente recurrente">Cliente recurrente</option>
                    <option value="No Cliente">No Cliente</option>
                </select>
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Registrar</button>
            </div>
        </form>
        <div>
        </div>
    </div>
    <div>
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th style="width: 150px;">Fecha</th>
                    <th style="width: 150px;">Nombre</th>
                    <th style="width: 300px;">Apellidos</th>
                    <th style="width: 150px;">E-Mail</th>
                    <th style="width: 300px;">Telefono</th>
                    <th style="width: 300px;">País</th>
                    <th style="width: 150px;">Ciudad</th>
                    <th style="width: 150px;">Dirección</th>
                    <th style="width: 150px;">Instagram</th>
                    <th style="width: 150px;">Facebook</th>
                    <th style="width: 150px;">linkedin</th>
                    <th style="width: 150px;">Twitter</th>
                    <th style="width: 150px;">Estado</th>
                    <th style="width: 150px;">Opciones</th>                   
                </tr>
            </thead>
            <tbody>
                <% for(var i=0; i < clientes.length; i++){ %>
                    <tr>
                        <td>
                            <%= clientes[i].fecha %>
                        </td>
                        <td>
                            <%= clientes[i].nombre %>
                        </td>
                        <td>
                            <%= clientes[i].apellidos %>
                        </td>
                        <td>
                            <%= clientes[i].email %>
                        </td>
                        <td>
                            <%= clientes[i].telefono %>
                        </td>
                        <td>
                            <%= clientes[i].pais %>
                        </td>
                        <td>
                            <%= clientes[i].ciudad %>
                        </td>
                        <td>
                            <%= clientes[i].direccion %>
                        </td>
                        <td>
                            <%= clientes[i].instagram %>
                        </td>
                        <td>
                            <%= clientes[i].facebook %>
                        </td>
                        <td>
                            <%= clientes[i].linkedin %>
                        </td>
                        <td>
                            <%= clientes[i].twitter %>
                        </td>
                        <td>
                            <%= clientes[i].estado %>
                        </td>
                        <td>
                            <a href="/modificar/<%= clientes[i]._id %>">[Modificar]</a>
                            <a href="/eliminar/<%= clientes[i]._id %>">[Eliminar]</a>
                            <a href="/eliminar/<%= clientes[i]._id %>">[Revisar Historial]</a>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
    </div>