<%- include ('partials/header'); %>

<div class="container">
    <form action="/modificarClientes" method="post">
        <div class="mb-3">
            <label for="">id</label><input type="text" name="id" value="<%= t._id %>"class="form-control">
        </div>
        <div class="mb-3">
            <label for="">Fecha</label><input type="date" name="fecha" value="<%= t.fecha %>" class="form-control">
        </div>
        <div class="mb-3">
            <label for="">Nombre</label><input type="text" name="nombre"  value="<%= t.nombre %>" class="form-control">
        </div>
        <div class="mb-3">
            <label for="">Apellidos</label><input type="text" name="apellidos"  value="<%= t.apellido %>" class="form-control">
        </div>
        <div class="mb-3">
            <label for="">Tipo Documento</label><input type="text" name="email"  value="<%= t.t_documento %>"  class="form-control">
        </div>
        <div class="mb-3">
            <label for="">No. documento</label><input type="text" name="telefono"  value="<%= t.no_documento %>"  class="form-control">
        </div>
        <div class="mb-3">
            <label for="">E-mail</label><input type="email" name="email"  value="<%= t.email %>"  class="form-control">
        </div>
        <div class="mb-3">
            <label for="">Telefono</label><input type="number" name="telefono"  value="<%= t.telefono %>"  class="form-control">
        </div>
        <div class="mb-3">
            <label for="">País</label><input type="text" name="pais"  value="<%= t.pais %>"  class="form-control">
        </div>
        <div class="mb-3">
            <label for="">Ciudad</label><input type="text" name="ciudad"  value="<%= t.ciudad %>"  class="form-control">
        </div>
        <div class="mb-3">
            <label for="">Dirección</label><input type="text" name="direccion"  value="<%= t.direccion %>"  class="form-control">
        </div>
        <div class="mb-3">
            <label for="">Instagram</label><input type="text" name="instagram" value="<%= t.instagram %>" class="form-control">
            <label for="">Facebook</label><input type="text" name="facebook" value="<%= t.facebook %>" class="form-control">
            <label for="">Linkedin</label><input type="text" name="linkedin" value="<%= t.linkedin %>" class="form-control">
            <label for="">Twitter</label><input type="text" name="twitter" value="<%= t.twitter %>" class="form-control">
        </div>
        <div>
            <button type="submit" class="btn btn-primary">modificar</button>
        </div>
    </form>
</div>
<%- include ('partials/footer'); %>
